{% extends "flaper87/base.html" %}
{% block bodyclass %}is-post{% endblock %}
{% block content_header %}
	<header id="header">
		<div id="logo">
			<a href="/">Developer's black hole</a>
		</div>
	</header>
{% endblock %}

{% block content %}
	<section id="post" class="post">
        <p id="press">
            <strong>Press bio:</strong><br />
            Flavio Percoco is a passionate Python developer, with interests in
            languages, cloud computing and distributed architectures. He's
            currently working for Red Hat where he spends most of his time hacking
            on OpenStack. Flavio promotes open source, APIs, humility and loves the
            philosophy behind software and life. Flavio writes on his blog at
            flaper87.com and tweets on @flaper87.
        </p>

        <p id="email"><strong>Email:</strong>flaper87 flaper87 org</p>
    </section>
{% endblock %}

