{% extends "base.html" %}
{% block content %}
<section id="home-section">
	<div class="columns" id="columns03">
		<div class="inner">
			<div>
				<div class="image" id="image03">
					<img src="theme/assets/images/image03.jpg" alt="" />
				</div>
				<h1 id="text03">{{SITENAME}}</h1>
				<hr id="divider04" />
				<p id="text09">Hola!. Soy Flavio Percoco (a.k.a flaper87), y actualmente
				trabajo para Red Hat. Paso mis días desarrollando (principalmente en
				OpenStack), dando ponencias (o simplemente participando) en conferencias
				y haciendo investigación. Me encanta escribir, leer, surfear, viajar, y
				tomar café.</p>
			</div>
		</div>
	</div>
  {% for article in articles_page.object_list %}
	<hr id="divider05" />
	<div class="columns" id="columns01">
		<div class="inner">
			<div>
				<h2 id="text10">{{ article.title }}</h2>
				<p id="text11">{{ article.summary }}</p>
				<ul class="buttons" id="buttons04">
					<li>
						<a href="{{article.url}}" class="button n01">More</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
  {% endfor %}
</section>
{% endblock %}
